 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    background-color: #222;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #fff;
}


footer{
    background-color: #222;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer span{
    font-size: 0.8em;
    font-weight: 200;
}

main{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.main-content h2{
    margin-bottom: 2%;
    font-size: 2.2em;
}

.text p{
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
}

text{
    margin-bottom: 10%;
}

.projetos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    width: 120px;
    height: 120px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 1.8em;
    margin-left: 1.8em;
    cursor: pointer;
    text-align: center;
    line-height: 120px;
    transition: box-shadow 1.25 ease-in-out;
}

.card-img{
    width: 80%;
    height: 80%;
    border-radius: 30px;
    vertical-align: middle;
}
.card:hover{
    box-shadow: 0px 0px 8px #ffffff;
}
header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
}
header nav{
    display: flex;
    align-items: center;
}
header nav a{
    margin-right: 1.3em;
    font-size: 1.5em;
}
header h1, a{ 
    color: #ffffff;
    transition: 0.2s ease-in-out;
}
main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main figure img{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 8px #ffffff ;
}
