
*{ 
 box-sizing: border-box;
margin: 0;
padding: 0;
}
 main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main figure img{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 8px #ffffff ;
}
  a{
    text-decoration: none;
    color: #fff;
    margin-left: 60px;
}
header h2{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding-right: 655px;
  
}
.banner1 {
    margin-top: 60px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display:flex;                              
    align-items: center;                      
    justify-content:center;  
    color: white;    
    height: 70px;    
    font-size: medium;
}
header{
    background-color: #222;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #ffffff;
}
header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
    text-align: center;
}
header nav{
    display: flex;
    color: #ffffff;
    align-items: center;
}
header nav a{
    font-size: 1.5em;
    color: #ffffff;
}
header h1, a{ 
    margin-right: 100px;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}
main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.banner {
background-color: rgb(0, 0, 0);
width: 100%;
display:flex;                              
align-items: center;                      
justify-content:center;  
color: white;    
height: 170px;    
font-size: xx-large;    
padding-top: 30px;      
}
 
.box {
    height: 150px;
    border: 3px solid black;    
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
 
.titulo{
    padding-top: 25px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-style: bold;
}
 
.box1 {
    height: 350px;    
    margin-bottom: 20px;
    width: 98%;
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-left: 25px;
 
}
.video-item {
    width: 30%;
    height: auto;
    }
   
   
    .videobox {
    width: 100%;
    height: auto;
   
    }
 
    .video {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 150px;
        margin-bottom: 20px;
        height: 345px;
        border-radius: 20px;
        padding-top: 25px;
        padding-left: 10px;
    }
 
 
    .textodescri {
        padding-right: 35px;
        text-align: center;
        color: black;
    }
    footer{
    background-color: #222;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
 
    