*{
     box-sizing: border-box;
     margin: 0;
padding: 0;
    }
    main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main figure img{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 8px #ffffff ;
}
   
    .banner1 {
        margin-top:  50px;
        background-color: rgb(0, 0, 0);
        width: 100%;
        display:flex;                              
        align-items: center;                      
        justify-content:center;  
        color: white;    
        height: 70px;    
        font-size: medium;
    }
   a{
    text-decoration: none;
    color: #fff;
    margin-left: 50px;
}

header{
    background-color: #222;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
}
header h2{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
    text-align: center;
    padding-right: 655px;
  
}
header nav{
    display: flex;
    align-items: center;
    width: 100%;
}
header nav a{
    margin-right: 1.3em;
    font-size: 1.5em;
   align-items: end;
}
header h1, a{ 
    text-align: center;
    color: #ffffff;
   
}
    
    .banner {
    background-color: rgb(0, 0, 0);
    width: 100%;
    display:flex;                              
    align-items: center;                      
    justify-content:center;  
    color: white;    
    height: 150px;    
    font-size: xx-large;          
    }
   
    .box {
        height: 150px;
        border: 3px solid rgb(255, 255, 255);    
        border-radius: 20px;
        margin-bottom: 20px;
    }
   
    .titulo{
        padding-top: 25px;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        font-style: bold;
    }
   
    .box1 {
        height: 400px; 
        width: 100%;
        display: flex;
         flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 93px;
        margin-bottom: 20px;
    }
    .video-item {
        width: 30%;
        height: auto;
        }
       
       
        .videobox {
        width: 100%;
        height: auto;
       
        }
   
        .video {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 50px;
            margin-bottom: 20px;
            height: 350px;
            border: 3px solid black;    
            border-radius: 20px;
            padding-top: 25px;
        }
 
       
 
            .boximg{
                padding-left: 20px;
                flex: 1 1 23%;
                min-height: 350px;
                margin: 1%;
                box-sizing: border-box;
               
            }
 
 
            .ajusteimg {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
           
                }
               
                .textodescri {
                    padding-right: 35px;
                    text-align: center;
                }
 footer{
    background-color: #222;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

                